@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display&display=swap");

:root {
  --primary-font-color: #333333;
  --secondary-font-color: #fecc99;
  --alternative-font-color: #ffffff;
  --button-font-color: #4d4d4d;
  --tertiary-font-color: #364b4d;
  --header-font-color: #666666;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-font-color);
}

.nav-link {
  color: var(--primary-font-color) !important;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Header */
.nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 70px;
}

.navbar-brand {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4em;
  color: var(--primary-font-color) !important;
  text-transform: uppercase;
  font-weight: bold;
}

.amperstand {
  color: var(--secondary-font-color);
}

.navbar-nav .nav-link {
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-family: "Nunito Sans", sans-serif;
}

.nav-active {
  color: var(--secondary-font-color) !important;
}

/* Landing Image */
.landing {
  position: relative;
}

.landing-image {
  width: -webkit-fill-available;
}

.landing .landing-inner {
  width: 266px;
}

.landing .landing-inner,
.landing .content .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-inner .heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: var(--alternative-font-color);
}

.landing .content .btn {
  width: 176.75px;
  height: 56px;
  background: var(--secondary-font-color);
  top: 76%;
  transform: translate(-50%, -24%);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--button-font-color) !important;
  outline: none;
  border-radius: 0;
}

/* About-Services */
.about-services {
  position: relative;
}

.about-services-img,
.contact-us-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: -webkit-fill-available;
  height: 2000px;
}

.about-services .line,
.portfolio .line,
.testimonials .line,
.contact-us .line {
  height: 2px;
  background: var(--secondary-font-color);
  width: 48px;
}

.about-services .heading,
.portfolio .heading,
.portfolio .gallery,
.testimonials .heading,
.contact-us .heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--secondary-font-color);
}

.about-services .sub-heading,
.contact .sub-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: var(--alternative-font-color);
}

.about-services .content,
.services-content .context,
.contact input,
.contact textarea,
.footer .content {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: var(--secondary-font-color);
}

.about-image .top-left-box,
.about-image .bottom-right-box {
  position: absolute;
  top: -15px;
  left: 20px;
  border: 3px solid var(--secondary-font-color);
  box-sizing: border-box;
  width: 294.78px;
  height: 319px;
  z-index: -1;
}

.about-image .bottom-right-box {
  bottom: -15px;
  top: auto;
  left: auto;
  right: 20px;
}

.about-services .btn {
  padding: 16px 24px;
  width: 134px;
  height: 55px;
  background: var(--secondary-font-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  font-family: "Nunito Sans", sans-serif;
  font-size: 17px;
  line-height: 23px;
  text-transform: capitalize;
  color: var(--button-font-color);
  outline: none;
  border-radius: 0;
}

.services-content .sub-heading,
.services-content .content {
  width: 221px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: var(--alternative-font-color);
}

.services-content .title {
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--alternative-font-color);
}

.services-content .context {
  width: 320px;
}

/* Portfolio */
.portfolio {
  margin-top: 120px;
}
.portfolio .line,
.testimonials .line {
  background: var(--button-font-color);
}

.portfolio .heading,
.testimonials .heading {
  color: var(--button-font-color);
}

.portfolio .gallery {
  font-size: 12px;
  line-height: 16px;
  color: var(--button-font-color);
}

.porfolio-img {
  width: -webkit-fill-available;
}

/* Testimonials */
.testimonials .content-container {
  background: var(--alternative-font-color);
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

.testimonials .content,
.testimonials .content-pic {
  color: var(--tertiary-font-color);
  letter-spacing: 0.2em;
}

.testimonials .content-pic {
  letter-spacing: 0.1em;
}

/* Navigation */
.navigation .dot {
  width: 8px;
  height: 8px;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
}

.navigation .active-dot {
  background: var(--button-font-color);
}

/* Contact-Us */
.contact {
  position: relative;
  margin-bottom: 150px;
}

.contact .sub-heading {
  font-size: 18px;
  line-height: 24px;
}

.contact input,
.contact textarea {
  letter-spacing: 0.2em;
  color: var(--tertiary-font-color);
}

.form-group input,
.form-group textarea {
  font-family: "Playfair Display", serif;
  border-radius: 0;
  width: 325px;
  height: 55px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(54, 75, 77, 0.2);
  box-sizing: border-box;
}

.form-group textarea {
  height: auto;
}

.form label {
  color: var(--secondary-font-color);
}

.form .btn {
  width: 176.75px;
  height: 56px;
  background: var(--secondary-font-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--button-font-color) !important;
  outline: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
}

.contact-us-img {
  height: 1010px;
}

/* Footer */
.footer {
  background: rgba(26, 26, 26, 0.8);
}

.footer .content {
  color: var(--alternative-font-color);
}

@media all and (max-width: 320px) {
  /* Header */
  .collapse {
    margin-top: 18px;
  }
  /* About Us */
  .about-services-img {
    height: 2050px;
  }

  .about-image .top-left-box {
    top: -10px;
    left: 6px;
  }

  .about-image .bottom-right-box {
    bottom: -10px;
    right: 5px;
  }

  /* Portfolio */
  .portfolio {
    margin-top: 90px;
  }

  /* Contact Us */
  .form-group input,
  .form-group textarea {
    width: 290px;
  }
}

@media all and (min-width: 375px) {
  /* About Us */
  .about-image .top-left-box {
    top: -15px;
    left: 40px;
  }

  .about-image .bottom-right-box {
    bottom: -15px;
    right: 40px;
  }

  /* Portfolio */
  .portfolio {
    margin-top: 200px;
  }

  /* Contact Us */
  .form-group input,
  .form-group textarea {
    width: 340px;
  }

  .contact-us-img {
    height: 1000px;
  }
}

@media all and (min-width: 414px) {
  .collapse {
    margin-top: 18px;
  }

  .contact-us-img {
    height: 990px;
  }
}

@media all and (min-width: 576px) {
  /* Landing Image */
  .landing-image {
    margin-top: -50px;
  }

  /* About Us */
  .about-services-img {
    height: 1800px;
  }

  .about-image .top-left-box {
    top: -15px;
    left: 115px;
  }

  .about-image .bottom-right-box {
    bottom: -15px;
    right: 115px;
  }

  .services-content .sub-heading,
  .services-content .context {
    width: 420px;
  }

  .services-content .context {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* Contact Us */
  .form-group input,
  .form-group textarea {
    width: 525px;
  }
}

@media all and (max-width: 767px) {
  .larger-screens {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .smaller-screens {
    display: none;
  }

  /* Header */
  .nav-bg {
    height: 80px;
  }

  .nav-link {
    padding-top: 0 !important;
  }

  .nav-active {
    color: var(--primary-font-color) !important;
  }

  .nav-item {
    padding-bottom: 0 !important;
  }

  #growth {
    width: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
  }

  .normal {
    flex-grow: 0.1;
  }

  .collapse {
    font-size: 16px;
    line-height: 21px;
    text-transform: capitalize;
    color: var(--header-font-color);
    margin-top: 9px !important;
  }

  .contact-btn {
    background: var(--secondary-font-color);
    height: 41px;
    width: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 3px;
    background: var(--secondary-font-color);
    transition: all 0.5s ease-in-out;
  }

  /* Landing Image */
  .landing-image {
    margin-top: 80px;
  }

  .landing .landing-inner {
    left: 30%;
    transform: translate(-70%, -50%);
  }

  .landing .content .btn {
    left: 24%;
    transform: translate(-76%, -50%);
  }

  .landing-inner .heading {
    text-align: left !important;
  }

  /* About Services */
  .about-services-img {
    height: 1400px;
  }

  .line-container {
    position: relative;
    width: 332px;
  }

  .about-image .top-left-box,
  .about-image .bottom-right-box {
    width: 305px;
  }

  .about-image .top-left-box {
    left: 0;
    top: -12px;
  }

  .about-image .bottom-right-box {
    bottom: -12px;
    right: 0;
  }

  .about-us-img,
  .services-img {
    width: 310px;
  }

  .about-services .line,
  .portfolio .line {
    width: 64px;
  }

  .about-services .about {
    margin-top: 100px !important;
    margin-bottom: 24px !important;
  }

  .about-services .about-image {
    margin-top: 157px !important;
  }

  .book-now-btn {
    margin-top: 0px !important;
  }

  .services-content {
    margin-top: 50px;
  }

  .services-content .sub-heading {
    width: 400px;
  }

  .services-content .context {
    width: 320px;
  }

  .box-right-2 {
    bottom: auto !important;
    top: 25px !important;
    height: 312px !important;
  }

  .services-content .services-heading {
    margin-bottom: 24px !important;
  }

  .services-content .sub-heading {
    margin-bottom: 24px !important;
  }

  .services-content .title-line {
    margin-top: 3.5%;
    width: 27px;
  }

  /* Portfolio */
  .portfolio {
    margin-top: 90px;
  }

  .portfolio-images .image {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  /* Testimonials */
  .testimonials {
    margin-bottom: 0 !important;
  }

  .testimonials .content-container {
    border: none;
    box-shadow: none;
  }
  .testimonials .content,
  .testimonials .content-pic {
    margin-top: 20px !important;
    margin-left: 20px;
    color: var(--button-font-color);
  }

  .testimonials .content {
    color: var(--primary-font-color);
  }

  /* Navigation */
  .navigation {
    margin-left: 60px !important;
  }

  /* Contact Us */
  .contact-us-img {
    height: 970px;
  }

  .contact .contact-heading {
    margin-top: 80px !important;
    margin-bottom: 24px !important;
  }

  .contact .sub-heading {
    text-align: left !important;
    width: 240px;
    margin-left: 9%;
  }

  .contact .form {
    margin-left: 9%;
  }

  .form-group input,
  .form-group textarea {
    width: 275px;
    height: 47px;
  }

  .form-group textarea {
    height: auto;
  }

  .form .btn {
    width: 109px;
    height: 45px;
  }

  .socials {
    margin-top: 28%;
  }

  .socials .title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: var(--secondary-font-color);
  }

  .socials .icons {
    margin-bottom: 40px;
  }

  .socials .last {
    margin-bottom: 72px;
  }

  .socials .number,
  .socials .email {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }

  /* Footer */
  .footer .row {
    height: 90px;
  }
}

@media all and (min-width: 992px) {
  /* Header */
  .navbar-brand {
    font-size: 17px;
    line-height: 24px;
  }

  /* Landing Image */
  .landing .landing-inner {
    width: 280px;
  }

  .landing-inner .heading {
    font-size: 32px;
    line-height: 43px;
  }

  .landing .content .btn,
  .about-services .heading,
  .portfolio .heading,
  .contact .heading {
    font-size: 18px;
    line-height: 23px;
  }

  /* About Us */
  .about-services-img {
    height: 1550px;
  }

  .about-services .sub-heading {
    font-size: 40px;
    line-height: 53px;
    width: 400px;
  }

  .about-services .content,
  .services-content .context,
  .testimonials .content-pic,
  .form label {
    font-size: 16px;
    line-height: 21px;
  }

  .about-us-img,
  .services-img {
    width: 400px;
  }

  .line-container {
    position: relative;
    width: 422px;
  }

  .about-image .top-left-box,
  .about-image .bottom-right-box {
    height: -webkit-fill-available;
    width: 390px;
  }

  .box-right-1,
  .box-right-2 {
    height: 408px !important;
  }

  .services-content .title {
    font-size: 24px;
    line-height: 32px;
  }

  /* Portfolio */
  .portfolio {
    margin-top: 150px;
  }

  .portfolio .gallery {
    font-size: 14px;
    line-height: 18px;
  }

  /* Testimonials */
  .testimonials {
    margin-top: 100px !important;
  }

  .testimonials .content {
    padding-top: 40px !important;
    margin-top: 0px !important;
    margin-bottom: 16px !important;
    font-size: 19px;
    line-height: 26px;
  }

  /* Navigation */
  .navigation {
    margin-bottom: 100px !important;
  }

  .navigation .dot {
    width: 10px;
    height: 10px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
  }

  .navigation .active-dot {
    background: var(--button-font-color);
  }

  /* Contact Us */
  .contact-us-img {
    height: 1130px;
  }

  .contact .contact-heading {
    margin-top: 100px !important;
    margin-bottom: 30px !important;
  }

  .contact .sub-heading {
    font-size: 40px;
    line-height: 53px;
    width: 380px !important;
  }

  .form-group input,
  .form-group textarea {
    width: 360px;
    height: 50px;
  }

  .form-group textarea {
    height: auto;
  }

  .socials {
    margin-top: 35%;
  }

  .socials .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .socials .email,
  .socials .number {
    font-size: 21px;
    line-height: 28px;
  }
}

@media all and (min-width: 1200px) {
  /* Header */
  .nav-bg {
    height: 100px;
  }

  /* Landing Image */
  .landing-image {
    margin-top: 110px;
  }

  .landing .landing-inner {
    width: 340px;
  }

  .landing-inner .heading {
    font-size: 40px;
    line-height: 64px;
  }

  .landing .content .btn {
    left: 22%;
    transform: translate(-78%, -50%);
  }

  /* About Us */
  .about-image .top-left-box,
  .about-image .bottom-right-box {
    width: 495px;
  }

  .about-image .top-left-box {
    top: -15px;
  }

  .about-image .bottom-right-box {
    bottom: -15px;
  }

  .about-image img {
    height: 495px;
    width: 495px;
  }

  .line-container {
    width: 520px;
  }

  .box-right-1,
  .box-right-2 {
    height: 486px !important;
  }

  .about-services .btn {
    width: 135px;
    font-size: 18px;
  }

  .about-services-img {
    height: 1600px;
  }

  /* Portfolio */
  .portfolio {
    margin-top: 300px;
  }

  /* Testimonials */
  .testimonials {
    margin-top: 150px !important;
  }

  .testimonials .content-container {
    margin-top: 55px !important;
  }

  .testimonials .content-pic {
    margin-left: 45px;
  }

  .testimonials .content {
    margin-bottom: 60px !important;
  }

  /* Navigation */
  .navigation {
    margin-left: 100px !important;
    margin-bottom: 142px !important;
  }

  /* Contact Us */
  .contact .contact-heading {
    margin-top: 150px !important;
    margin-bottom: 48px !important;
  }

  .contact .sub-heading {
    width: 450px !important;
    margin-left: 13% !important;
  }

  .contact .form {
    margin-left: 13%;
  }

  .form-group input,
  .form-group textarea {
    width: 419px;
    height: 55px;
  }

  .form-group textarea {
    height: auto;
  }

  .socials {
    margin-top: 30%;
  }

  .form .btn {
    width: 109px;
    height: 55px;
    font-size: 18px;
    line-height: 23px;
  }

  .contact-us-img {
    height: 1170px;
  }
}

@media all and (min-width: 1366px) {
  /* Header */
  .navbar-brand {
    font-size: 20px;
    line-height: 27px;
  }

  /* Landing Image */
  .landing .content .btn {
    left: 23%;
    transform: translate(-77%, -50%);
  }

  /* About Us */

  .services-content .context {
    width: 420px;
  }

  /* Contact Us */
  .form-group input,
  .form-group textarea {
    width: 483px;
  }

  .contact .sub-heading {
    margin-left: 12% !important;
  }

  .contact .form {
    margin-left: 12%;
  }

  .socials {
    margin-top: 27%;
  }
}

@media all and (min-width: 1440px) {
  /* Header */
  .navbar-brand {
    margin-left: 70px;
  }

  /* About Us */
  .about-services .sub-heading {
    width: 540px;
  }

  /* Contact Us */
  .form-group input,
  .form-group textarea {
    width: 515px;
  }

  .contact .sub-heading {
    margin-left: 11% !important;
  }

  .contact .form {
    margin-left: 11%;
  }

  .socials {
    margin-top: 25%;
  }
  .contact-us-img {
    height: 1170px;
  }
}

@media all and (min-width: 1530px) {
  /* About Us */
  .services-content .context {
    width: 510px;
  }

  .about-services .sub-heading {
    width: 540px;
  }

  /* Contact Us */
  .form .btn {
    left: 46%;
    transform: translateX(-54%);
  }

  .socials {
    margin-top: 24%;
  }
}

@media all and (min-width: 1680px) {
  /* Landing Image */
  .landing .content .btn {
    left: 24%;
    transform: translate(-76%, -50%);
  }

  /* About Us */
  .services-content .context {
    width: 580px;
  }

  .about-services .sub-heading {
    width: 600px;
  }

  /* Testimonials */
  .testimonials .content-pic {
    margin-left: 30px;
  }

  /* Contact Us */
  .contact .sub-heading {
    margin-left: 10% !important;
  }

  .contact .form {
    margin-left: 10%;
  }

  .form .btn {
    left: 36%;
    transform: translateX(-64%);
  }

  .socials {
    margin-top: 22%;
  }
}

@media all and (min-width: 1920px) {
  .limit {
    max-width: 1920px;
  }

  /* Header */
  .navbar {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .navbar-brand {
    margin-left: 90px;
  }

  /* Landing Image */
  .landing .landing-inner {
    width: 360px;
  }

  .landing-inner .heading {
    font-size: 43px;
    line-height: 66px;
  }

  /* About Us */
  .about-services .sub-heading {
    width: 730px;
  }

  .services-content .context {
    width: 700px;
  }

  /* Navigation */
  .navigation {
    margin-left: 80px !important;
  }

  /* Contact Us */
  .form .btn {
    left: 25.5%;
    transform: translateX(-75.5%);
  }

  .contact .sub-heading {
    margin-left: 8% !important;
  }

  .contact .form {
    margin-left: 8%;
  }

  .socials {
    margin-top: 19%;
  }
}
